<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rental_test">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Rental Kendaraan AAF"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rental_Test"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".view.SewaMotorActivity"
            android:exported="false"
            android:parentActivityName=".view.InfoPenyewaMotorActivity" />
        <activity
            android:name=".view.DetailPenyewaMotorActivity"
            android:exported="false"
            android:parentActivityName=".view.InfoPenyewaMotorActivity" />
        <activity
            android:name=".view.InfoPenyewaMotorActivity"
            android:exported="false"
            android:parentActivityName=".Home" />
        <activity
            android:name=".view.DetailMotorActivity"
            android:exported="false"
            android:label="Detail Motor"
            android:parentActivityName=".infoMotor" />
        <activity
            android:name=".infoMotor"
            android:exported="false"
            android:label="Info Data Motor"
            android:parentActivityName=".Home" />
        <activity
            android:name=".Home"
            android:exported="false">
        </activity>
        <activity
            android:name=".view.InfoPenyewaMobilActivity"
            android:exported="false"
            android:label="Info Penyewa Mobil"
            android:parentActivityName=".Home" />
        <activity
            android:name=".view.DetailPenyewaMobilActivity"
            android:exported="false"
            android:label="Detail Penyewa Mobil"
            android:parentActivityName=".view.InfoPenyewaMobilActivity" />
        <activity
            android:name=".view.SewaMobilActivity"
            android:exported="false"
            android:label="Input Data Rental Mobil"
            android:parentActivityName=".view.InfoPenyewaMobilActivity" />
        <activity
            android:name=".view.DetailMobilActivity"
            android:exported="false"
            android:label="Detail Data Mobil"
            android:parentActivityName=".infoMobil" />
        <activity
            android:name=".infoMobil"
            android:exported="false"
            android:label="Info Data Mobil"
            android:parentActivityName=".Home" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>